{{ define "head" }}
 {{ partial "head" . }}
{{ end}}

{{ define "header" }}
  {{ partial "header" . }}
{{ end }}

{{ define "main" }}
<!-- version mobile -->
<div class="blog-mobile-display">
  {{ partial "blog-home-mobile" . }}
</div>

<!-- version normal --> 
<div class="blog-normal-display w3-row w3-content w3-hide-small w3-theme-l5">
	{{ partial "blog-home-normal.html" . }}
	{{ partial "blog-home-normal-side.html" . }}
</div>	
{{ end }}

{{ define "footer"}}
  {{ partial "footer" . }}
{{ end }}
