    <!-- adjust height at media queries -->
    <section class="about-section w3-container w3-theme">

        <div class="w3-card w3-display-middle w3-mobile w3-round w3-justify w3-theme-light">

            <div class="w3-container w3-center w3-animate-bottom">
                <header class="w3-bottombar w3-border-theme1"><h3>Our goal</h3></header>
            </div>

            <div class="w3-container">
                <p class="w3-animate-opacity">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus itaque amet dicta. Perspiciatis, delectus, laboriosam. Ducimus quae laboriosam possimus minima dolorum eaque voluptatibus sequi non, autem omnis iusto velit dolorem? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod vel accusantium maiores sunt nemo eveniet illum. Illum quod consectetur esse voluptatum eaque eos sequi, nihil nulla accusantium delectus at perspiciatis.
                </p>
            </div>
        <hr>
            <div class="w3-container w3-center">
                <header class="w3-bottombar w3-border-theme1 w3-animate-botom"><h3>Anything else</h3></header>
            </div>
            <div class="w3-container">
                <p class="w3-animate-opacity">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus itaque amet dicta. Perspiciatis, delectus, laboriosam. Ducimus quae laboriosam possimus minima dolorum eaque voluptatibus sequi non, autem omnis iusto velit dolorem? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod vel accusantium maiores sunt nemo eveniet illum. Illum quod consectetur esse voluptatum eaque eos sequi, nihil nulla accusantium delectus at perspiciatis.
                </p>
            </div>
    </section>
