<!-- version mobile -->
<div class="characters-section-mobile">

  <!-- characters section 1 -->
  <section class="characters-section w3-border-bottom w3-border-theme1">

      <div class="w3-card w3-animate-left">
        
        <div class="w3-container w3-padding">
          <img class="characters-img w3-round w3-mobile w3-round" src="/img/characters/photo1-kushobi.jpg" alt="CHANGE NAME OF PICTURE">
        </div>

        <header class="w3-container w3-center">
          <h3 class="w3-bottombar w3-border-theme1">KUSHOBI</h3>
        </header>

        <div class="w3-container w3-justify">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos distinctio magni molestias cum, debitis error reiciendis minima placeat, reprehenderit enim inventore nam, eum nihil dolores ratione nesciunt autem optio officia. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur nostrum quasi inventore aliquam. Mollitia aliquid porro officia voluptatem sequi. Suscipit doloribus voluptates rerum alias assumenda. Ab culpa, tenetur cupiditate ut. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima odio ullam, eum itaque? Dolore delectus numquam similique laboriosam voluptate animi nesciunt velit nulla facilis. Quidem tempore, maxime blanditiis. Ea, quidem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus a, labore ipsa sunt fugiat quae, veritatis eius perspiciatis consequuntur vero fugit facilis sit. Minus quo quaerat harum ipsum nam rem.</p>
        </div>
      </div>
  </section>

  <!-- characters section 2-->
  <section class="characters-section w3-border-bottom w3-border-theme1">


      <div class="w3-card w3-animate-right">
        
        <div class="w3-container w3-padding">
          <img class="characters-img w3-round w3-mobile w3-round" src="/img/characters/photo2-oxie.jpg" alt="CHANGE NAME OF PICTURE">
        </div>

        <header class="w3-container w3-center">
          <h3 class="w3-bottombar w3-border-theme1">OXIE</h3>
        </header>

        <div class="w3-container w3-justify">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos distinctio magni molestias cum, debitis error reiciendis minima placeat, reprehenderit enim inventore nam, eum nihil dolores ratione nesciunt autem optio officia. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur nostrum quasi inventore aliquam. Mollitia aliquid porro officia voluptatem sequi. Suscipit doloribus voluptates rerum alias assumenda. Ab culpa, tenetur cupiditate ut. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima odio ullam, eum itaque? Dolore delectus numquam similique laboriosam voluptate animi nesciunt velit nulla facilis. Quidem tempore, maxime blanditiis. Ea, quidem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus a, labore ipsa sunt fugiat quae, veritatis eius perspiciatis consequuntur vero fugit facilis sit. Minus quo quaerat harum ipsum nam rem.</p>
        </div>
      </div>

  </section>

  <!-- characters section 3-->
  <section class="characters-section w3-border-bottom w3-border-theme1">


      <div class="w3-card w3-animate-left">
        
        <div class="w3-container w3-padding">
          <img class="characters-img w3-round w3-mobile w3-round" src="/img/characters/photo3-klatchi.jpg" alt="CHANGE NAME OF PICTURE">
        </div>

        <header class="w3-container w3-center">
          <h3 class="w3-bottombar w3-border-theme1">KLATCHI</h3>
        </header>

        <div class="w3-container w3-justify">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos distinctio magni molestias cum, debitis error reiciendis minima placeat, reprehenderit enim inventore nam, eum nihil dolores ratione nesciunt autem optio officia. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur nostrum quasi inventore aliquam. Mollitia aliquid porro officia voluptatem sequi. Suscipit doloribus voluptates rerum alias assumenda. Ab culpa, tenetur cupiditate ut. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima odio ullam, eum itaque? Dolore delectus numquam similique laboriosam voluptate animi nesciunt velit nulla facilis. Quidem tempore, maxime blanditiis. Ea, quidem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus a, labore ipsa sunt fugiat quae, veritatis eius perspiciatis consequuntur vero fugit facilis sit. Minus quo quaerat harum ipsum nam rem.</p>
        </div>
      </div>

  </section>

  <!-- characters section 4-->
  <section class="characters-section w3-border-bottom w3-border-theme1">


      <div class="w3-card w3-animate-right">
        
        <div class="w3-container w3-padding">
          <img class="characters-img w3-round w3-mobile w3-round" src="/img/characters/photo4-khaba.jpg" alt="CHANGE NAME OF PICTURE">
        </div>

        <header class="w3-container w3-center">
          <h3 class="w3-bottombar w3-border-theme1">KHABA</h3>
        </header>

        <div class="w3-container w3-justify">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos distinctio magni molestias cum, debitis error reiciendis minima placeat, reprehenderit enim inventore nam, eum nihil dolores ratione nesciunt autem optio officia. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur nostrum quasi inventore aliquam. Mollitia aliquid porro officia voluptatem sequi. Suscipit doloribus voluptates rerum alias assumenda. Ab culpa, tenetur cupiditate ut. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima odio ullam, eum itaque? Dolore delectus numquam similique laboriosam voluptate animi nesciunt velit nulla facilis. Quidem tempore, maxime blanditiis. Ea, quidem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus a, labore ipsa sunt fugiat quae, veritatis eius perspiciatis consequuntur vero fugit facilis sit. Minus quo quaerat harum ipsum nam rem.</p>
        </div>
      </div>

  </section>

  <!-- characters section 5-->
  <section class="characters-section w3-border-bottom w3-border-theme1">


      <div class="w3-card w3-animate-left">
        
        <div class="w3-container w3-padding">
          <img class="characters-img w3-round w3-mobile w3-round" src="/img/characters/photo5-guardian-1.jpg" alt="CHANGE NAME OF PICTURE">
        </div>

        <header class="w3-container w3-center">
          <h3 class="w3-bottombar w3-border-theme1">GAURDIAN 1</h3>
        </header>

        <div class="w3-container w3-justify">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos distinctio magni molestias cum, debitis error reiciendis minima placeat, reprehenderit enim inventore nam, eum nihil dolores ratione nesciunt autem optio officia. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur nostrum quasi inventore aliquam. Mollitia aliquid porro officia voluptatem sequi. Suscipit doloribus voluptates rerum alias assumenda. Ab culpa, tenetur cupiditate ut. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima odio ullam, eum itaque? Dolore delectus numquam similique laboriosam voluptate animi nesciunt velit nulla facilis. Quidem tempore, maxime blanditiis. Ea, quidem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus a, labore ipsa sunt fugiat quae, veritatis eius perspiciatis consequuntur vero fugit facilis sit. Minus quo quaerat harum ipsum nam rem.</p>
        </div>
      </div>

  </section>

  <!-- characters section 6-->
  <section class="characters-section w3-border-bottom w3-border-theme1">


      <div class="w3-card w3-animate-right">
        
        <div class="w3-container w3-padding">
          <img class="characters-img w3-round w3-mobile w3-round" src="/img/characters/photo6-guardian-2.jpg" alt="CHANGE NAME OF PICTURE">
        </div>

        <header class="w3-container w3-center">
          <h3 class="w3-bottombar w3-border-theme1">GAURDIAN 2</h3>
        </header>

        <div class="w3-container w3-justify">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos distinctio magni molestias cum, debitis error reiciendis minima placeat, reprehenderit enim inventore nam, eum nihil dolores ratione nesciunt autem optio officia. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur nostrum quasi inventore aliquam. Mollitia aliquid porro officia voluptatem sequi. Suscipit doloribus voluptates rerum alias assumenda. Ab culpa, tenetur cupiditate ut. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima odio ullam, eum itaque? Dolore delectus numquam similique laboriosam voluptate animi nesciunt velit nulla facilis. Quidem tempore, maxime blanditiis. Ea, quidem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus a, labore ipsa sunt fugiat quae, veritatis eius perspiciatis consequuntur vero fugit facilis sit. Minus quo quaerat harum ipsum nam rem.</p>
        </div>
      </div>

  </section>

  <!-- characters section 7-->
  <section class="characters-section w3-border-bottom w3-border-theme1">


      <div class="w3-card w3-animate-left">
        
        <div class="w3-container w3-padding">
          <img class="characters-img w3-round w3-mobile w3-round" src="/img/characters/photo7-elders.jpg" alt="CHANGE NAME OF PICTURE">
        </div>

        <header class="w3-container w3-center">
          <h3 class="w3-bottombar w3-border-theme1">ELDERS</h3>
        </header>

        <div class="w3-container w3-justify">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos distinctio magni molestias cum, debitis error reiciendis minima placeat, reprehenderit enim inventore nam, eum nihil dolores ratione nesciunt autem optio officia. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur nostrum quasi inventore aliquam. Mollitia aliquid porro officia voluptatem sequi. Suscipit doloribus voluptates rerum alias assumenda. Ab culpa, tenetur cupiditate ut. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima odio ullam, eum itaque? Dolore delectus numquam similique laboriosam voluptate animi nesciunt velit nulla facilis. Quidem tempore, maxime blanditiis. Ea, quidem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus a, labore ipsa sunt fugiat quae, veritatis eius perspiciatis consequuntur vero fugit facilis sit. Minus quo quaerat harum ipsum nam rem.</p>
        </div>
      </div>

  </section>

  <!-- characters section 8-->
  <section class="characters-section w3-border-bottom w3-border-theme1">


      <div class="w3-card w3-animate-right">
        
        <div class="w3-container w3-padding">
          <img class="characters-img w3-round w3-mobile w3-round" src="/img/characters/photo8-ada.jpg" alt="CHANGE NAME OF PICTURE">
        </div>

        <header class="w3-container w3-center">
          <h3 class="w3-bottombar w3-border-theme1">ADA</h3>
        </header>

        <div class="w3-container w3-justify">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos distinctio magni molestias cum, debitis error reiciendis minima placeat, reprehenderit enim inventore nam, eum nihil dolores ratione nesciunt autem optio officia. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur nostrum quasi inventore aliquam. Mollitia aliquid porro officia voluptatem sequi. Suscipit doloribus voluptates rerum alias assumenda. Ab culpa, tenetur cupiditate ut. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima odio ullam, eum itaque? Dolore delectus numquam similique laboriosam voluptate animi nesciunt velit nulla facilis. Quidem tempore, maxime blanditiis. Ea, quidem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus a, labore ipsa sunt fugiat quae, veritatis eius perspiciatis consequuntur vero fugit facilis sit. Minus quo quaerat harum ipsum nam rem.</p>
        </div>
      </div>

  </section>

<!-- end mobile version -->
</div>

<!-- normal version -->
<div class="characters-section-normal">

  <!-- characters section 1 -->
  <section class="characters-section w3-display-container">

      <div class="w3-card w3-round w3-display-middle w3-theme-light w3-animate-opacity">

        <div class="w3-row">

          <div class="w3-col l3 m4 w3-padding">         

            <div class="w3-bottombar w3-leftbar w3-topbar w3-rightbar w3-border-theme w3-round">
              <img class="characters-img w3-mobile" src="/img/characters/photo1-kushobi.jpg" alt="CHANGE NAME OF PICTURE">
            </div>

          </div>

          <div class="w3-col l9 m8">

            <header class="w3-container">
              <h3 class="w3-center">Characters name 1</h3>
            </header>

            <div class="w3-container w3-justify">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos distinctio magni molestias cum, debitis error reiciendis minima placeat, reprehenderit enim inventore nam, eum nihil dolores ratione nesciunt autem optio officia. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur nostrum quasi inventore aliquam. Mollitia aliquid porro officia voluptatem sequi. Suscipit doloribus voluptates rerum alias assumenda. Ab culpa, tenetur cupiditate ut. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima odio ullam, eum itaque? Dolore delectus numquam similique laboriosam voluptate animi nesciunt velit nulla facilis. Quidem tempore, maxime blanditiis. Ea, quidem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus a, labore ipsa sunt fugiat quae, veritatis eius perspiciatis consequuntur vero fugit facilis sit. Minus quo quaerat harum ipsum nam rem.</p>
            </div>

          </div>

        <!-- end row -->
        </div>

      <!-- end card -->
      </div>

  </section>

  <!-- characters section 2 -->
  <section class="characters-section w3-display-container">

      <div class="w3-card w3-round w3-display-middle w3-theme-light w3-animate-opacity">

        <div class="w3-row">

          <div class="w3-col l3 m4 w3-padding">         

            <div class="w3-bottombar w3-leftbar w3-topbar w3-rightbar w3-border-theme w3-round">
              <img class="characters-img w3-mobile" src="/img/characters/photo2-oxie.jpg" alt="CHANGE NAME OF PICTURE">
            </div>

          </div>

          <div class="w3-col l9 m8">

            <header class="w3-container">
              <h3 class="w3-center">Characters name 2</h3>
            </header>

            <div class="w3-container w3-justify">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos distinctio magni molestias cum, debitis error reiciendis minima placeat, reprehenderit enim inventore nam, eum nihil dolores ratione nesciunt autem optio officia. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur nostrum quasi inventore aliquam. Mollitia aliquid porro officia voluptatem sequi. Suscipit doloribus voluptates rerum alias assumenda. Ab culpa, tenetur cupiditate ut. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima odio ullam, eum itaque? Dolore delectus numquam similique laboriosam voluptate animi nesciunt velit nulla facilis. Quidem tempore, maxime blanditiis. Ea, quidem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus a, labore ipsa sunt fugiat quae, veritatis eius perspiciatis consequuntur vero fugit facilis sit. Minus quo quaerat harum ipsum nam rem.</p>
            </div>

          </div>

        <!-- end row -->
        </div>

      <!-- end card -->
      </div>

  </section>

  <!-- characters section 3 -->
  <section class="characters-section w3-display-container">

      <div class="w3-card w3-round w3-display-middle w3-theme-light w3-animate-opacity">

        <div class="w3-row">

          <div class="w3-col l3 m5 w3-padding">         

            <div class="w3-bottombar w3-leftbar w3-topbar w3-rightbar w3-border-theme w3-round">
              <img class="characters-img w3-mobile" src="/img/characters/photo3-klatchi.jpg" alt="CHANGE NAME OF PICTURE">
            </div>

          </div>

          <div class="w3-col l9 m7">

            <header class="w3-container">
              <h3>Characters name 3</h3>
            </header>

            <div class="w3-container w3-justify">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos distinctio magni molestias cum, debitis error reiciendis minima placeat, reprehenderit enim inventore nam, eum nihil dolores ratione nesciunt autem optio officia. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur nostrum quasi inventore aliquam. Mollitia aliquid porro officia voluptatem sequi. Suscipit doloribus voluptates rerum alias assumenda. Ab culpa, tenetur cupiditate ut. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima odio ullam, eum itaque? Dolore delectus numquam similique laboriosam voluptate animi nesciunt velit nulla facilis. Quidem tempore, maxime blanditiis. Ea, quidem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus a, labore ipsa sunt fugiat quae, veritatis eius perspiciatis consequuntur vero fugit facilis sit. Minus quo quaerat harum ipsum nam rem.</p>
            </div>

          </div>

        <!-- end row -->
        </div>

      <!-- end card -->
      </div>

  </section>

  <!-- characters section 4 -->
  <section class="characters-section w3-display-container">

      <div class="w3-card w3-round w3-display-middle w3-theme-light w3-animate-opacity">

        <div class="w3-row">

          <div class="w3-col l3 m4 w3-padding">         

            <div class="w3-bottombar w3-leftbar w3-topbar w3-rightbar w3-border-theme w3-round">
              <img class="characters-img w3-mobile" src="/img/characters/photo4-khaba.jpg" alt="CHANGE NAME OF PICTURE">
            </div>

          </div>

          <div class="w3-col l9 m8">

            <header class="w3-container">
              <h3 class="w3-center">Characters name 4</h3>
            </header>

            <div class="w3-container w3-justify">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos distinctio magni molestias cum, debitis error reiciendis minima placeat, reprehenderit enim inventore nam, eum nihil dolores ratione nesciunt autem optio officia. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur nostrum quasi inventore aliquam. Mollitia aliquid porro officia voluptatem sequi. Suscipit doloribus voluptates rerum alias assumenda. Ab culpa, tenetur cupiditate ut. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima odio ullam, eum itaque? Dolore delectus numquam similique laboriosam voluptate animi nesciunt velit nulla facilis. Quidem tempore, maxime blanditiis. Ea, quidem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus a, labore ipsa sunt fugiat quae, veritatis eius perspiciatis consequuntur vero fugit facilis sit. Minus quo quaerat harum ipsum nam rem.</p>
            </div>

          </div>

        <!-- end row -->
        </div>

      <!-- end card -->
      </div>

  </section>

  <!-- characters section 5 -->
  <section class="characters-section w3-display-container">

      <div class="w3-card w3-round w3-display-middle w3-theme-light w3-animate-opacity">

        <div class="w3-row">

          <div class="w3-col l3 m4 w3-padding">         

            <div class="w3-bottombar w3-leftbar w3-topbar w3-rightbar w3-border-theme w3-round">
              <img class="characters-img w3-mobile" src="/img/characters/photo5-guardian-1.jpg" alt="CHANGE NAME OF PICTURE">
            </div>

          </div>

          <div class="w3-col l9 m8">

            <header class="w3-container">
              <h3 class="w3-center">Characters name 5</h3>
            </header>

            <div class="w3-container w3-justify">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos distinctio magni molestias cum, debitis error reiciendis minima placeat, reprehenderit enim inventore nam, eum nihil dolores ratione nesciunt autem optio officia. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur nostrum quasi inventore aliquam. Mollitia aliquid porro officia voluptatem sequi. Suscipit doloribus voluptates rerum alias assumenda. Ab culpa, tenetur cupiditate ut. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima odio ullam, eum itaque? Dolore delectus numquam similique laboriosam voluptate animi nesciunt velit nulla facilis. Quidem tempore, maxime blanditiis. Ea, quidem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus a, labore ipsa sunt fugiat quae, veritatis eius perspiciatis consequuntur vero fugit facilis sit. Minus quo quaerat harum ipsum nam rem.</p>
            </div>

          </div>

        <!-- end row -->
        </div>

      <!-- end card -->
      </div>

  </section>

  <!-- characters section 6 -->
  <section class="characters-section w3-display-container">

      <div class="w3-card w3-round w3-display-middle w3-theme-light w3-animate-opacity">

        <div class="w3-row">

          <div class="w3-col l3 m4 w3-padding">         

            <div class="w3-bottombar w3-leftbar w3-topbar w3-rightbar w3-border-theme w3-round">
              <img class="characters-img w3-mobile" src="/img/characters/photo6-guardian-2.jpg" alt="CHANGE NAME OF PICTURE">
            </div>

          </div>

          <div class="w3-col l9 m8">

            <header class="w3-container">
              <h3 class="w3-center">Characters name 6</h3>
            </header>

            <div class="w3-container w3-justify">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos distinctio magni molestias cum, debitis error reiciendis minima placeat, reprehenderit enim inventore nam, eum nihil dolores ratione nesciunt autem optio officia. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur nostrum quasi inventore aliquam. Mollitia aliquid porro officia voluptatem sequi. Suscipit doloribus voluptates rerum alias assumenda. Ab culpa, tenetur cupiditate ut. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima odio ullam, eum itaque? Dolore delectus numquam similique laboriosam voluptate animi nesciunt velit nulla facilis. Quidem tempore, maxime blanditiis. Ea, quidem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus a, labore ipsa sunt fugiat quae, veritatis eius perspiciatis consequuntur vero fugit facilis sit. Minus quo quaerat harum ipsum nam rem.</p>
            </div>

          </div>

        <!-- end row -->
        </div>

      <!-- end card -->
      </div>

  </section>

  <!-- characters section 7 -->
  <section class="characters-section w3-display-container">

      <div class="w3-card w3-round w3-display-middle w3-theme-light w3-animate-opacity">

        <div class="w3-row">

          <div class="w3-col l3 m4 w3-padding">         

            <div class="w3-bottombar w3-leftbar w3-topbar w3-rightbar w3-border-theme w3-round">
              <img class="characters-img w3-mobile" src="/img/characters/photo7-elders.jpg" alt="CHANGE NAME OF PICTURE">
            </div>

          </div>

          <div class="w3-col l9 m8">

            <header class="w3-container">
              <h3 class="w3-center">Characters name 7</h3>
            </header>

            <div class="w3-container w3-justify">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos distinctio magni molestias cum, debitis error reiciendis minima placeat, reprehenderit enim inventore nam, eum nihil dolores ratione nesciunt autem optio officia. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur nostrum quasi inventore aliquam. Mollitia aliquid porro officia voluptatem sequi. Suscipit doloribus voluptates rerum alias assumenda. Ab culpa, tenetur cupiditate ut. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima odio ullam, eum itaque? Dolore delectus numquam similique laboriosam voluptate animi nesciunt velit nulla facilis. Quidem tempore, maxime blanditiis. Ea, quidem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus a, labore ipsa sunt fugiat quae, veritatis eius perspiciatis consequuntur vero fugit facilis sit. Minus quo quaerat harum ipsum nam rem.</p>
            </div>

          </div>

        <!-- end row -->
        </div>

      <!-- end card -->
      </div>

  </section>

  <!-- characters section 8 -->
  <section class="characters-section w3-display-container">

      <div class="w3-card w3-round w3-display-middle w3-theme-light w3-animate-opacity">

        <div class="w3-row">

          <div class="w3-col l3 m4 w3-padding">         

            <div class="w3-bottombar w3-leftbar w3-topbar w3-rightbar w3-border-theme w3-round">
              <img class="characters-img w3-mobile" src="/img/characters/photo8-ada.jpg" alt="CHANGE NAME OF PICTURE">
            </div>

          </div>

          <div class="w3-col l9 m8">

            <header class="w3-container">
              <h3 class="w3-center">Characters name 8</h3>
            </header>

            <div class="w3-container w3-justify">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos distinctio magni molestias cum, debitis error reiciendis minima placeat, reprehenderit enim inventore nam, eum nihil dolores ratione nesciunt autem optio officia. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur nostrum quasi inventore aliquam. Mollitia aliquid porro officia voluptatem sequi. Suscipit doloribus voluptates rerum alias assumenda. Ab culpa, tenetur cupiditate ut. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima odio ullam, eum itaque? Dolore delectus numquam similique laboriosam voluptate animi nesciunt velit nulla facilis. Quidem tempore, maxime blanditiis. Ea, quidem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus a, labore ipsa sunt fugiat quae, veritatis eius perspiciatis consequuntur vero fugit facilis sit. Minus quo quaerat harum ipsum nam rem.</p>
            </div>

          </div>

        <!-- end row -->
        </div>

      <!-- end card -->
      </div>

  </section>

<!-- end normal version -->
</div>