  <!-- contact form (action still needs to be assigned to the form) -->
  <section class="contact-section w3-container w3-theme">

      <form action="#" class="w3-container w3-display-middle w3-card w3-round w3-mobile w3-theme-light w3-animate-opacity" >

        <h2 class="w3-center w3-mobile w3-bottombar w3-border-theme1">Contact us</h2>
        
      <div class="w3-row w3-col l5">
        
        <div class="w3-row">

          <div class="contact-icon-box w3-col">
            <i class="w3-xxlarge fa fa-user"></i>
          </div>

          <div class="w3-rest">
            <input type="text" class="w3-input w3-border w3-mobile" name="first name" placeholder="First Name">
          </div>

        </div>

        <div class="w3-row w3-section">
          <div class="contact-icon-box w3-col">
            <i class="w3-xxlarge fa fa-user"></i>
          </div>

          <div class="w3-rest" >
            <input type="text" class="w3-input w3-border w3-mobile" name="last name" placeholder="Last Name">
          </div>
        </div>

        <div class="w3-row w3-section">
          <div class="contact-icon-box w3-col">
            <i class="w3-xxlarge fa fa-envelope"></i>
          </div>

          <div class="w3-rest">
            <input type="text" class="w3-input w3-border w3-mobile" name="email" placeholder="Email">
          </div>
        </div>

      </div>
        
      <div class="w3-rest w3-mobile">
        <textarea name="" class="contact-text-area w3-input w3-border" id="" cols="10" rows="5"></textarea>

        <div class="w3-center">
          <button class="w3-button w3-round w3-hover-theme1">Submit</button>
        </div>
      </div>

      </form>
  </section>