<!--intro section-->
  <section class="intro-section w3-mobile">

      <div class="intro-card w3-card w3-mobile w3-round w3-theme-l5">
        
        <header>
          <h1 class="w3-bottombar w3-center w3-border-theme1 w3-animate-bottom">What is kushobi</h1>
        </header>        

        <div class="intro-section-text w3-container w3-justify">
          <p class="w3-animate-opacity">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet a ad nisi vitae sit mollitia repellat quasi nobis quod? In nobis, ipsam incidunt assumenda excepturi saepe, qui explicabo deserunt fugiat! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam tempora exercitationem et eaque eveniet, ullam explicabo enim tenetur, totam eum iure mollitia necessitatibus ad eius, tempore debitis, accusamus officia sit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro fugit nulla neque voluptatem officia nisi, voluptas, nobis repellat. Id recusandae explicabo voluptatum necessitatibus corporis, soluta veritatis ducimus laboriosam, ea accusantium!</p>
        </div>

      </div>

  <!-- end intro section  -->
  </section>
  

  <!-- creator section --> 
  <section class="creator-section w3-mobile w3-theme">    
    
    <div class="w3-round w3-center">

      <div class="w3-section w3-bar w3-theme">

        <h1 class="w3-center w3-bottombar w3-border-theme1">Meet the creators</h1>

        <div class="creator-box w3-bar-item w3-card-2 w3-mobile w3-round w3-theme1-light w3-animate-right">

          <div class="w3-container">
            <img src="http://via.placeholder.com/150" alt="image-placeholder" class="w3-circle">
          </div>

          <div class="w3-container">
            <h3>Name</h3>
            <h6>Description</h6>
          </div>

          <div class="creator-social w3-containter">
            <a href="" class="w3-small w3-btn w3-btn-theme w3-hover-theme1 w3-round w3-ripple w3-text-theme3 w3-padding-small"><i class="fab fa-facebook-f"></i></a>
            <a href="" class="w3-small w3-btn w3-btn-theme w3-hover-theme1 w3-round w3-ripple w3-text-theme3 w3-padding-small"><i class="fab fa-instagram"></i></a>
            <a href="" class="w3-small w3-btn w3-btn-theme w3-hover-theme1 w3-round w3-ripple w3-text-theme3 w3-padding-small"><i class="fab fa-twitter"></i></a>
          </div>

        </div>

        <div class="creator-box w3-bar-item w3-card-2 w3-mobile w3-round w3-theme1-light w3-animate-left">

          <div class="w3-container">
            <img src="http://via.placeholder.com/150" alt="image-placeholder" class="w3-circle">
          </div>

          <div class="w3-container">
            <h3>Name</h3>
            <h6>Description</h6>
          </div>

          <div class="creator-social w3-containter">
            <a href="" class="w3-small w3-btn w3-btn-theme w3-hover-theme1 w3-round w3-ripple w3-text-theme3 w3-padding-small"><i class="fab fa-facebook-f"></i></a>
            <a href="" class="w3-small w3-btn w3-btn-theme w3-hover-theme1 w3-round w3-ripple w3-text-theme3 w3-padding-small"><i class="fab fa-instagram"></i></a>
            <a href="" class="w3-small w3-btn w3-btn-theme w3-hover-theme1 w3-round w3-ripple w3-text-theme3 w3-padding-small"><i class="fab fa-twitter"></i></a>
          </div>

        </div>

        <div class="creator-box w3-bar-item w3-card-2 w3-mobile w3-round w3-theme1-light w3-animate-right">

          <div class="w3-container">
            <img src="http://via.placeholder.com/150" alt="image-placeholder" class="w3-circle">
          </div>

          <div class="w3-container">
            <h3>Name</h3>
            <h6>Description</h6>
          </div>

          <div class="creator-social w3-containter">
            <a href="" class="w3-small w3-btn w3-btn-theme w3-hover-theme1 w3-round w3-ripple w3-text-theme3 w3-padding-small"><i class="fab fa-facebook-f"></i></a>
            <a href="" class="w3-small w3-btn w3-btn-theme w3-hover-theme1 w3-round w3-ripple w3-text-theme3 w3-padding-small"><i class="fab fa-instagram"></i></a>
            <a href="" class="w3-small w3-btn w3-btn-theme w3-hover-theme1 w3-round w3-ripple w3-text-theme3 w3-padding-small"><i class="fab fa-twitter"></i></a>
          </div>

        </div>

        <div class="creator-box w3-bar-item w3-card-2 w3-mobile w3-round w3-theme1-light w3-animate-left">

          <div class="w3-container">
            <img src="http://via.placeholder.com/150" alt="image-placeholder" class="w3-circle">
          </div>

          <div class="w3-container">
            <h3>Name</h3>
            <h6>Description</h6>
          </div>

          <div class="creator-social w3-containter">
            <a href="" class="w3-small w3-btn w3-btn-theme w3-hover-theme1 w3-round w3-ripple w3-text-theme3 w3-padding-small"><i class="fab fa-facebook-f"></i></a>
            <a href="" class="w3-small w3-btn w3-btn-theme w3-hover-theme1 w3-round w3-ripple w3-text-theme3 w3-padding-small"><i class="fab fa-instagram"></i></a>
            <a href="" class="w3-small w3-btn w3-btn-theme w3-hover-theme1 w3-round w3-ripple w3-text-theme3 w3-padding-small"><i class="fab fa-twitter"></i></a>
          </div>

        </div>

      </div>


  <!-- end creator section -->
  </section>

  <!-- Donate section -->
  <section class="donate-section w3-mobile w3-border-bottom w3-border-black w3-hide-small">

    <div class="donate-section-card w3-theme-l5 w3-center w3-round">

      <header class="w3-center">
        <h1 class="w3-bottombar w3-center w3-border-theme1 w3-padding w3-animate-bottom" >Donate to our cause!</h1>
      </header>
      <br>
      <br>
      <div class="w3-center">
        <button class="w3-button w3-xlarge w3-round w3-theme w3-hover-theme1 w3-animate-opacity">Donate</button>
      </div>

    </div>  

  <!-- end donate section -->
  </section>

  <!--roadmap section-->
  <section class="w3-container roadmap-section w3-theme">
      
      <div class="roadmap-small w3-row">

        <h2 class="w3-center w3-bottombar w3-border-theme1">Roadmap</h2>


        <img class="roadmap-img w3-col s3" src="/img/roadmap/roadmap-3-vertical.svg" alt="">

        <div class="w3-col s9 w3-justify">

            <div class="roadmap-textbox-small w3-row w3-animate-right">            
                <h6 class="w3-border-top w3-border-theme1 w3-text-theme1"><strong>1. Start</strong></h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum autem rem vitae! Quam dicta aliquid saepe, soluta animi, quaerat dolorum perferendis recusandae tempore hic repudiandae.</p>            
            </div>

          <div class="roadmap-textbox-small w3-row w3-animate-right">

                <h6 class="w3-border-top w3-border-theme1 w3-text-theme1"><strong>2. Lorem</strong></h6>             
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum autem rem vitae! Quam dicta aliquid saepe, soluta animi, quaerat dolorum perferendis recusandae tempore hic repudiandae.</p>
              
          </div>

          <div class="roadmap-textbox-small w3-row w3-animate-right">
              
                <h6 class="w3-border-top w3-border-theme1 w3-text-theme1"><strong>3. Lorem</strong></h6>             
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum autem rem vitae! Quam dicta aliquid saepe, soluta animi, quaerat dolorum perferendis recusandae tempore hic repudiandae.</p>
              
          </div>

          <div class="roadmap-textbox-small w3-row w3-animate-right">
              
                <h6 class="w3-border-top w3-border-theme1 w3-text-theme1"><strong>4. Lorem</strong></h6>             
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum autem rem vitae! Quam dicta aliquid saepe, soluta animi, quaerat dolorum perferendis recusandae tempore hic repudiandae.</p>
              
          </div>

          <div class="roadmap-textbox-small w3-row w3-animate-right">
              
                <h6 class="w3-border-top w3-border-theme1 w3-text-theme1"><strong>5. Lorem</strong></h6>             
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum autem rem vitae! Quam dicta aliquid saepe, soluta animi, quaerat dolorum perferendis recusandae tempore hic repudiandae.</p>
              
          </div>

          <div class="roadmap-textbox-small w3-row w3-animate-right">
              
                <h6 class="w3-border-top w3-border-theme1 w3-text-theme1"><strong>6. Lorem</strong></h6>             
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum autem rem vitae! Quam dicta aliquid saepe, soluta animi, quaerat dolorum perferendis recusandae tempore hic repudiandae.</p>
                         
          </div>

        </div>

      <!-- end roadmap small -->
      </div>


      <div class="roadmap-big">

        <div class="w3-center" >
          <h2 class="w3-bottombar w3-border-theme1" >Roadmap</h2>
        </div>
        <br>
        <br>
        <br>

        <div class="w3-container">          
          
          <img class="w3-section w3-col l12" src="/img/roadmap/roadmap-3-horizontal.svg" alt="ENTER ROADMAP   ALTERNATIVE HERE">

          <div class="roadmap-big-text w3-row w3-justify">
            
            <div class="roadmap-big-textbox w3-col l2 m2 s2 w3-border-left w3-border-theme1 w3-text-theme1-light w3-animate-opacity">
              
                <h6 class="w3-text-theme1"><strong>1. Start</strong></h6>              
              
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem odit unde vero, temporibus magni dignissimos nisi porro doloribus quos corporis.</p>
              
            </div>

            <div class="roadmap-big-textbox w3-col l2 m2 s2 w3-border-left w3-border-theme1 w3-text-theme1-light w3-animate-opacity">
              
                <h6 class="w3-text-theme1"><strong>2. Lorem</strong></h6>              
              
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem odit unde vero, temporibus magni dignissimos nisi porro doloribus quos corporis.</p>
              
            </div>

            <div class="roadmap-big-textbox w3-col l2 m2 s2 w3-border-left w3-border-theme1 w3-text-theme1-light w3-animate-opacity">
              
                <h6 class="w3-text-theme1"><strong>3. Lorem</strong></h6>              
              
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab tempore odit laboriosam similique quis temporibus perspiciatis sequi dolore vitae nostrum?</p>
              
            </div>

            <div class="roadmap-big-textbox w3-col l2 m2 s2 w3-border-left w3-border-theme1 w3-text-theme1-light w3-animate-opacity">
              
                <h6 class="w3-text-theme1"><strong>4. Lorem</strong></h6>              
              
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda vero ullam eum ab veritatis ipsum repellendus non cupiditate dignissimos, explicabo!</p>
              
            </div>

            <div class="roadmap-big-textbox w3-col l2 m2 s2 w3-border-left w3-border-theme1 w3-text-theme1-light w3-animate-opacity">
              
                <h6 class="w3-text-theme1"><strong>5. Lorem</strong></h6>              
              
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo fugit sit ipsum reiciendis dolore ratione eos molestias deleniti assumenda aliquam?</p>
              
            </div>

            <div class="roadmap-big-textbox w3-col l2 m2 s2 w3-border-left w3-border-theme1 w3-text-theme1-light w3-animate-opacity">
              
                <h6 class="w3-text-theme1"><strong>6. Lorem</strong></h6>              
              
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat deleniti non dolorum corporis corrupti, saepe hic dignissimos, asperiores adipisci veniam?</p>
              
            </div>

          </div>

        </div>
      <!-- end roadmap big -->
      </div>

  <!-- end roadmap section -->
  </section>